:root {
  --black: #212121;
  --black-lighten-1: #707070;

  --white: #ffffff;

  color: var(--black);

  --montserrat: "Montserrat";
  --noto-sans-jp: "Noto Sans JP";
  --noto-serif-jp: "Noto Serif JP";

  font-family: var(--noto-sans-jp), sans-serif;

  font-size: 10px;
  font-weight: 500;

  --z-index--top: 9999;
  --z-index--high: 100;
  --z-index--medium: 10;
  --z-index--low: 5;
  --z-index--bottom: -1;
}
